@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf) format("ttf");
  src: url(./assets/fonts/static/Inter-Regular.ttf) format("ttf");
  src: url(./assets/fonts/static/Inter-SemiBold.ttf) format("ttf");
  src: url(./assets/fonts/static/Inter-Bold.ttf) format("ttf");
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--grey900);
  font-size: 0.875rem;
  font-weight: 400;
}

h1 {
  margin-top: 0.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--white);
}

p {
  color: var(--green);
  margin: 0.5rem 0;
}

section {
  width: 385px;
  background-color: var(--grey800);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
}

figure {
  margin: 0 auto;
  width: 92px;
}

blockquote {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

figure img {
  width: 100%;
  border-radius: 50%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.links a {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--grey700);
  border-radius: 0.325rem;
  font-weight: 700;
}

.links a:hover {
  background-color: var(--green);
  color: var(--grey900);
}
